 body {
    height: 100vh;
    margin: 0;
    width: 100%;
    background-color: purple;
    /* overflow: hidden; */
 }
 .center {
    display: flex;
    justify-content: center;
 }
 .board {
    background-color: white;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
} 
.board-row {
    width: 100%;
    display: flex;
    flex: 1 1 0;
    
}
.cell { 
    flex: 1 1 auto;

}
.cell:hover {
    background-color: black;
    color:black;
    
}