 body {
    height: 100vh;
    margin: 0;
    width: 100%;
    background-color: purple;
    /* overflow: hidden; */
 }
 .center {
    display: flex;
    justify-content: center;
 }
 .board {
    background-color: white;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
} 
.board-row {
    width: 100%;
    display: flex;
    flex: 1 1 0;
    
}
.cell { 
    flex: 1 1 auto;

}
.cell:hover {
    background-color: black;
    color:black;
    
}


.menu {
    border: solid;
    border-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pixel-size {
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
}
button {
    background-color: blue;
    color: white;
    border-style: none;
    border-radius: 8px;
    padding: 8px 16px;
}
button:hover{
    background-color: darkblue;
}